#top {
		margin: 0 auto;
		width: 100%;
		background-color: #cdcdcd;
		display: flex;
		align-items: center;
}

#spacer {
		margin-left: 65px;
		background-color: black;
		height: 100px;
		width: 6px;
}

.h2, h2, .head2 {
		font-size:1.75rem;
}

.blue, a, #finger {
		color:#006AEE;
}

.blue, a {
		color:#006AEE;
}

label, #label {
		margin-bottom:0rem;
}

#how {
		margin: 15px;
}

#finger {
		cursor: pointer;
}

input {
		width: inherit;
		height: inherit;
}

.col-2 {
		background-color: #ddddff;
}

ul {
		list-style-type: none;
}

#webabstract {
		width: 100%;
		height: 300px;
}


@media (min-width:800px) { 
	.wrapper {
		height: 100vh;
		display: grid;
		grid-auto-columns: 1fr;
		grid-template-rows: 1fr 3fr;
	}

	#top {
		grid-row: 1 / 2;
		grid-column: 1 / 3;
	}

	.col-1 {
		background-color: #eee;
		grid-row: 2 / 3;
		grid-column: 1 / 2;
		padding-bottom:80px;
	}

	.pad {
		padding: 50px 50px 0px 50px;
	}

	.modified-pad {
		padding: 50px 50px 0px 0px;
	}

	.col-2 {
		grid-row: 2 / 3;
		grid-column: 2 / 3;
	}
}

@media (max-width:800px) {
	.wrapper{
		height: 100vh;
		display: grid;
		grid-template-rows: 1fr 2fr 2fr;
	}

	#top {
		grid-row: 1 / 2;
		grid-column: 1 / 2;
	}
	
	#spacer {
		display: none;
	} 

	.col-1 {
		grid-row: 2 / 3;
		grid-column: 1 / 2;
		background-color: #eee;
		padding-bottom: 30px;
	}

	.pad {
		padding: 20px 20px 0px 20px;
	}

	.modified-pad {
		padding: 20px 20px 0px 0px;
	}

	.col-2 {
		grid-row: 3 / 4;
		grid-column: 1 / 2;
	}
}

/* for iphone XR and XS, respectively */
@media only screen
    and (device-width : 414px), (device-width : 375px)
    and (device-height : 896px), (device-height : 812px)
    and (-webkit-device-pixel-ratio : 2), (-webkit-device-pixel-ratio : 3) {

	#webabstract {
		width: 100%;
		height: 500px;
	}

	.pad {
		padding: 50px 50px 0px 50px;
	}

	.modified-pad {
		padding: 50px 50px 50px 0px;
	}

	.wrapper{
		height: 100vh;
		display: grid;
		grid-template-rows: 1fr 2fr 2fr;
	}

	#top {
		grid-row: 1 / 2;
		grid-column: 1 / 2;
	}

	.col-1 {
		grid-row: 2 / 3;
		grid-column: 1 / 2;
		background-color: #eee;
		padding-bottom: 30px;
	}

	.col-2 {
		grid-row: 3 / 4;
		grid-column: 1 / 2;
	}
}
