.wrapper {
		height: 100vh;
		display: grid;
		grid-auto-columns: 1fr;
		grid-template-rows: 1fr 3fr;
}


ul {
		list-style-type: none;
}


@media (min-width:501px) { 
	#top {
			background-color: #eee;
			grid-row: 1 / 2;
			grid-column: 1 / 3;
	}

	.col-1 {
			background-color: #ccc;
			grid-row: 2 / 3;
			grid-column: 1 / 2;
	}


	.col-2 {
			background-color: #555;
			grid-row: 2 / 3;
			grid-column: 2 / 3;
	}
}

@media (max-width: 500px) {
	#top {
			background-color: #eee;
			grid-row: 1 / 2;
			grid-column: 1 / 2;
	}

	.col-1 {
			grid-row: 2 / 3;
			grid-column: 1 / 2;
			background-color: #ccc;
	}
	.col-2 {
			grid-row: 3 / 4;
			grid-column: 1 / 2;
			background-color: #555;
	}
}

