#top {
		margin: 0 auto;
		width: 100%;
		background-color: #999;
		display: flex;
		justify-content: center;
		align-items: center;
}

#spacer {
		background-color: black;
		height: 100px;
		width: 6px;
}

#how {
		margin: 15px;
}

.col-2 {
		background-color: #3333ff;
}

ul {
		list-style-type: none;
}


@media (min-width:771px) { 
	.wrapper {
		height: 100vh;
		display: grid;
		grid-auto-columns: 1fr;
		grid-template-rows: 1fr 3fr;
	}

	#top {
			grid-row: 1 / 2;
			grid-column: 1 / 3;
	}

	.col-1 {
			background-color: #ccc;
			grid-row: 2 / 3;
			grid-column: 1 / 2;
	}


	.col-2 {
			grid-row: 2 / 3;
			grid-column: 2 / 3;
	}
}

@media (max-width: 770px) {
	.wrapper{
		height: 100vh;
		display: grid;
		grid-template-rows: 1fr 2fr 2fr;
	}

	#top {
			grid-row: 1 / 2;
			grid-column: 1 / 2;
	}
	
	#spacer {
			display: none;
	} 

	.col-1 {
			grid-row: 2 / 3;
			grid-column: 1 / 2;
			background-color: #ccc;
	}
	.col-2 {
			grid-row: 3 / 4;
			grid-column: 1 / 2;
	}
}

